<div class="todo-list-container">
  <h4>Todo List</h4>
  
  <!-- Add new todo form -->
  <div class="add-todo-form">
    <input 
      type="text" 
      [(ngModel)]="newTodoContent" 
      placeholder="Add a todo item" 
      (keyup.enter)="createTodo()"
    />
    <button (click)="createTodo()" class="add-btn">
      <i class="fa fa-plus"></i>
    </button>
  </div>

  <!-- Todos list -->
  <div class="todos-list">
    <div *ngIf="todos.length === 0" class="empty-state">
      No todos yet
    </div>
    
    <div *ngFor="let todo of todos" class="todo-item">
      <!-- View mode -->
      <div *ngIf="editingTodo?.id !== todo.id" class="todo-view">
        <div class="todo-content">
          <input 
            type="checkbox" 
            [checked]="todo.isDone" 
            (change)="toggleTodoStatus(todo)"
          />
          <span [class.completed]="todo.isDone">{{ todo.content }}</span>
        </div>
        <div class="todo-actions">
          <button (click)="startEdit(todo)" class="icon-btn edit-btn">
            <i class="fa fa-pencil"></i>
          </button>
          <button (click)="deleteTodo(todo.id)" class="icon-btn delete-btn">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
      
      <!-- Edit mode -->
      <div *ngIf="editingTodo?.id === todo.id" class="todo-edit">
        <input 
          type="text" 
          [(ngModel)]="editingTodo.content" 
          placeholder="Todo content" 
          required
        />
        <div class="edit-actions">
          <button (click)="saveEdit()" class="save-btn">
            <i class="fa fa-check"></i>
          </button>
          <button (click)="cancelEdit()" class="cancel-btn">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>